<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="icon" href="../images/favicon.png" type="image/png">
    <script src="/user/cart-functions.js"></script>
    <title>Smoothie King - Cart</title>
</head>
<body>
    <div class="main-header-container">
        <img src="../images/smoothie-king-logo.png" style="width:400px; height:70px;" id="logo">
    </div>
    <div class="body-container">
        <div class="body-item cart-header">
            <h1>CART</h1>
        </div>
        <div class="body-item item-container">
            <% cart.forEach(function(item) { %>
                <div class="cart-item">
                    <div class="cart-item-left">
                        <div class="cil-desc cart-item-image">
                            <img src=../images/smoothie0.png style="width: 120px; height: 100px">
                        </div>
                        <div class="cil-desc cart-item-name">
                            <h2><%= item.name %></h2>
                        </div>
                        <div class="cil-desc cart-item-size">
                            <h3><%= item.size %> oz</h3>
                        </div>
                    </div>
                    <div class="cart-item-right">
                        <div class="cir-desc cart-item-price">
                            <h2>$<%= item.price %></h2>
                        </div>
                        <div class="cir-desc cart-remove-button">
                            <button class="remove-button">REMOVE</button>
                        </div>
                    </div>
                    <div class="ingredients-info" style="display:none;">
                        <ul>
                            <% item.ingredients.forEach(function(ingredient) { %>
                                <li><%= ingredient %></li>
                            <% }); %>
                        </ul>
                    </div>
                    <div class="additives-info" style="display:none;">
                        <ul>
                            <% item.additives.forEach(function(additive) { %>
                                <li><%= additive %></li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="body-item cart-dashboard">
            <button class="back-to-menu-button">Back to Menu</button>
            <button class="clear-button">Clear Order</button>
            <button class="place-order-button">Place Order</button>
            <div class="total-price-div">
                <h2>Total: $0.00</h2>
            </div>
        </div>
    </div>
</body>
</html>

