<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <link href="/bootstrap-3.4.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/styles/menu_board.css" rel="stylesheet"> 
    <link rel="icon" href="images/smoothie-king-logo.png" type="image/png">
    <title>Menu Board</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/menu_board/refresh.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            autoDisplay: true,
            multilanguagePage: true
            }, 'google_translate_element');
        }
    </script>
    <div class="main-header-container">
        <img src="../images/smoothie-king-logo.png" style="width:400px; height:70px;" id="logo">
    </div>
    <div class="weather_container">
        <a class="weatherwidget-io" href="https://forecast7.com/en/30d63n96d33/college-station/?unit=us" data-label_1="COLLEGE STATION" data-label_2="WEATHER" data-days="3" data-theme="pure" >COLLEGE STATION WEATHER</a>
        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
    </div>
    <%
        capitalize_words = function(str) {
            // split the string into an array of words
            const words = str.split(" ");
            // map over the array of words and capitalize the first letter of each word
            const capitalizedWords = words.map(word => word.charAt(0).toUpperCase() + word.slice(1));
            // join the capitalized words back into a new string
            const capitalizedStr = capitalizedWords.join(" ");
            return capitalizedStr;
        }
    %>
    <div class="body-container">
        <div class="main-grid-item content-container" id="display_items_container">
            <% for (let i = 0; i < display_items.length; i++) { %>
                <div class="menu-item">
                    <div class="menu-item-image">
                        <img src="/images/menu_board_smoothies/smoothie_<%= category_to_img[menu[display_items[i]].category] %>.png" style="width:350px; height:300px;">
                    </div>
                    <div class="menu-item-name">
                        <h2><%= capitalize_words(menu[display_items[i]].menu_item_id) %> | <%= capitalize_words(menu[display_items[i]].category) %></h2>
                    </div>
                    <div class="menu-item-description">
                        <p>
                            <% for (let j = 0; j < menu_ingredients[display_items[i]].length - 1; j++) { %>
                                <%= capitalize_words(menu_ingredients[display_items[i]][j]) + ', ' %>
                            <% } %>
                            <%= capitalize_words(menu_ingredients[display_items[i]][menu_ingredients[display_items[i]].length - 1]) %>
                        </p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <script type="text/javascript">
        setTimeout(() => {
            refresh_items();
        }, 15000);  // have to change in refresh.js as well
    </script>
    <div class="footer"></div>
</body>
</html>