<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="server.css">
        <link rel="icon" href="images/favicon.png" type="image/png">
        <title>Smoothie King Menu</title>
    </head>
    <body>
        <h1>Smoothie King Menu</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Order</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><button class ="add-to-order" data-item = "<%= data[i].menu_item_id %>" data-price = "<%= data[i].price %>"><%= data[i].menu_item_id %></button></td>
                        <td><%= data[i].category %></td>
                        <td><%= data[i].price %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div>
            <h2>Order Summary</h2>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id = "order-summary"></tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td id="order-total">$0.00</td>
                    </tr>
                </tfoot>
            </table>
            <button>Pay Now</button>
        </div>
    </body>
</html>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        const orderTable = document.getElementById('order-summary')
        const orderTotal = document.getElementById('order-total')
        let total = 0

        const addToOrder = (item, price) => {
            const row = document.createElement('tr');
            const itemCell = document.createElement('td');
            const priceCell = document.createElement('td');
            itemCell.innerText = item;
            priceCell.innerText = price;
            row.appendChild(itemCell);
            row.appendChild(priceCell);
            orderTable.appendChild(row);

            total += price;
            orderTotal.innerText = `$${total.toFixed(2)}`;
        }

        const buttons = document.querySelectorAll('.add-to-order');
        buttons.forEach((button) => {
            button.addEventListener('click', (event) => {
                const item = event.target.getAttribute('data-item')
                const price = parseFloat(event.target.getAttribute('data-price'));
                addToOrder(item,price);
            })
        })
    })
</script>